@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.appleWhite');
  color: theme('colors.appleBlack');
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
